<link rel="stylesheet" href="css/home.css">
</head>
<% include('partials/header') %> 
    <main>
        <div class="info">
            <h1>Your favourite sites always at your fingertips <br/> One account, any device</h1>
            <h5>A Convenient way to always keep track of your favourite links</h5>
        </div>
        <div id="cta-btns">
            <a href="" class="btn btn-secondary">Login</a>
            <a href="" class="btn btn-primary">Register</a>
        </div>
    </main>
    <aside>
        <img src="" alt="">
    </aside>