</head>
<%- include('partials/header') %> 
    <main>
        <h1>Your favourite sites always at your fingertips <br/> One account, any device</h1>
        <h5>A Convenient way to always keep track of your favourite links</h5>
        <div id="cta-btns">
            <button>Login</button>
            <button>Register</button>
        </div>
    </main>
    <aside>
        <img src="" alt="ss">
    </aside>