main {
    display: flex;
    justify-content: center;
    align-items: center;
}

h1 {
    font-size: 3.2em;
    color: var(--orange);
    text-align: center;
    margin: 1.5em 0;
    width: 100%;
}

.search-container {
    width: 100%;
    margin: 0 auto;
    text-align: center;
}

.search-box {
    margin: 0 20px;
    max-width: 550px;
}

input {
  width: 100%;
  padding: 12px;
  border: none;
  border-radius: 10px;
}

#links {
    margin: 50px 40px;
    max-width: 500px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.entry {
  margin: 10px;
}

.icons {
    height: 70px;
    width: 70px;
    background: white;
    border-radius: 50%;
}

.text {
    height: 10px;
    width: 70px;
    border-radius: 10px;
    margin: 10px 0;
    background: white;
}

@media screen and (max-width: 600px) {
    h1 {
        font-size: 2em;
    }
    .search-box {
        max-width: 450px;
    }

    #links {
        max-width: 400px;
    }

    .icons {
        height: 50px;
        width: 50px;
    }

    .text {
        width: 50px;
    }
}
