main, aside {
    margin: 50px;
  }
  
  h1 {
    line-height: 1.6;
    color: var(--darker-grey);
    margin-top: 3em;
  }
  
  h5 {
    margin: 120px 0;
    font-size: 17pt;
    color: var(--dark-grey);
  }
  
  #cta-btns {
    display: flex;
    width: 380px;
    justify-content: space-between;
  }
  
  .btn {
    text-align: center;
    font-size: 16pt;
    border-radius: 5px;
    padding: 5px;
    width: 180px;
    text-decoration: none;
  }
  
  .btn-primary {
    background-color: var(--orange);
    color: var(--light-grey);
    border: 2px solid var(--orange);
  }
  
  .btn-secondary {
    border: 2px solid var(--dark-grey);
    color: var(--dark-grey);
    box-sizing: border-box;
  }
  
  /*  TABLET */
  @media screen and (max-width: 850px) {
    h1 {
      font-size: 1.4em;
    }
    main {
      text-align: center;
    }
  
    #cta-btns {
      margin: 0 auto;
    }
  }
  
  @media screen and (max-width: 460px) {
    h1 {
      font-size: 1.2em;
    }

    h5 {
        font-size: 1.1em;
    }
  
    #cta-btns {
      width: 80%;
    }
  
    .btn {
      width: 45%;
    }
  
    main {
      margin: 10px;
    }
  }