/* GENERAL STUFF */
:root {
  --bg: #e5e5e5;
  --prim-color: #fca311;
  --alt-color: #757575;
  --white: #f9f9f9;
  --black: #000000;
  --main-font: "Open Sans", "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS",
    sans-serif;
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  -webkit-tap-highlight-color: transparent;
  box-sizing: border-box;
}

html {
  font-size: 100%;
}

body {
  background: var(--bg);
  font-family: var(--main-font);
  /* FOR STICKING OF ADRESS BAR ON MOBILE BROWSERS */
  height: 100vh;
  width: 100vw;
  position: absolute;
  overflow-x: hidden;
  overflow-y: auto;
}

h2 {
  font-size: 2em;
}

p {
  font-size: 1em;
}

main {
  font-size: 1.25rem;
}
main,
aside {
  margin: 50px;
}

h1 {
  line-height: 1.6;
  color: var(--black);
  margin-top: 3em;
}

h5 {
  margin: 120px 0;
  font-size: 17pt;
  color: var(--alt-color);
}

#cta-btns {
  display: flex;
  width: 380px;
  justify-content: space-between;
}

.btn {
  text-align: center;
  font-size: 16pt;
  border-radius: 5px;
  padding: 5px;
  width: 180px;
  text-decoration: none;
}

.btn-primary {
  background-color: var(--prim-color);
  color: var(--white);
  border: 2px solid var(--prim-color);
}

.btn-secondary {
  border: 2px solid var(--alt-color);
  color: var(--alt-color);
  box-sizing: border-box;
}

/*  TABLET */
@media screen and (max-width: 850px) {
  h1 {
    font-size: 1.4em;
  }
  main {
    text-align: center;
  }

  #cta-btns {
    margin: 0 auto;
  }
}

/* MOBILE */

@media screen and (max-width: 460px) {
  h1 {
    font-size: 1.2em;
  }

  h5 {
    font-size: 1.1em;
  }

  #cta-btns {
    width: 80%;
  }

  .btn {
    width: 45%;
  }

  main {
    margin: 10px;
  }
}
