/* GENERAL STUFF */
:root {
  --bg: white;
  --light-grey: #e7e7e7;
  --dark-grey: #a4a4a4;
  --darker-grey:  #545353;
  --orange: orange;
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  -webkit-tap-highlight-color: transparent;
  box-sizing: border-box;
}

body {
  font-size: 15pt;
  background: var(--light-grey);
  font-family: Calibri, 'Trebuchet MS', sans-serif;
  
  /* FOR STICKING OF ADRESS BAR ON MOBILE BROWSERS */
  height: 100vh;
  width: 100vw;
  position: absolute;
  overflow-x: hidden;
  overflow-y: auto;
}